body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  color: #333;
}

header {
  background: #cc008f;
  color: rgb(244, 239, 242);
  padding: 2rem;
  text-align: center;
}

section {
  padding: 2rem;
  margin: 1rem auto;
  max-width: 800px;
  background: rgb(244, 170, 221);
  border-radius: 8px;
}

#about {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#about img {
  width: 150px;
  border-radius: 60%;
}

ul {
  list-style-type: square;
}

.project {
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #cc008f;
  color: white;
  margin-top: 2rem;
}
